/* global section */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Top banner section */

.top-banner {

    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%),
        url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 9rem 0;
    text-align: center;
}


.banner-description h1 {
    font-size: 60px;
    color: white;
    font-weight: 700;

}

.banner-description p {
    font-size: 18px;
    color: white;
    margin-top: 22px;
    font-family: 'Poppins', sans-serif;
}

.Global-btn {
    background-color: #FF5959;
    border-color: #FF5959;
    padding: 15px 18px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    margin-top: 26px;
    margin-right: 55px;
}

.Global-btn:hover {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    color: #0B0D17;
}

/* donate amount section */

.donate-amount-section {

    margin-bottom: 100px;
}

.donate-description {
    text-align: center;
}

.donate-description h2 {
    font-size: 38px;
    margin-top: 100px;
    font-weight: bold;
}

.donate-description p {
    font-size: 18px;
    margin-top: 24px;
    font-family: 'Poppins', sans-serif;

}

.amount-section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
}

.amount-box {
    width: 90px;
    height: 100px;
    background: #e8e7e7;
    border: 2px solid rgb(220, 230, 247);
    border-radius: 5px;
    padding-left: -10px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

.amount-number {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    color: #707070;
    font-size: 30px;

}

.amount-box2 {
    width: 90px;
    height: 100px;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    padding-left: -10px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.amount-box2 li {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    color: #FF5959;
    font-size: 30px;
}

.amount-number1 {
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 10px;
    font-weight: 600;
    color: #707070;
    font-size: 30px;
}

.amount {
    border-color: transparent;
    font-size: 17px;
    color: darkgrey;
    margin-bottom: 10px;
}

.input-amount {
    text-align: center;
    margin-top: 45px;
}

hr {
    width: 700px;
    margin-left: 280px;
    margin-right: 310px;
}

/* donate plan section */

.donate-plan-description {
    text-align: center;
    margin-bottom: 50px;
    line-height: 1.5;
}

.donate-plan-description h1 {
    font-size: 40px;

}

.donate-plan-description p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: rgb(45, 43, 43);
}



.donate-plan1 img {
    height: 60px;
    width: 60px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 13px;
}

.donate-plan1 {
    background: rgb(208, 247, 247);
    width: 330px;
    height: 320px;
    margin-left: 74px;
    margin-right: -30px;

}


.donate-plan2 img {
    height: 55px;
    width: 55px;
    margin-left: 15px;
    margin-top: 50px;
    margin-bottom: 13px;
}

.donate-plan2 {
    background: rgba(161, 13, 13, 0.1);
    width: 330px;
    height: 320px;
    margin-left: 50px;
    margin-right: -30px;


}

.donate-plan3 img {
    height: 50px;
    width: 50px;
    margin-left: 17px;
    margin-top: 50px;
    margin-bottom: 13px;
}

.donate-plan3 {
    background: #f5e5b9;
    width: 330px;
    height: 320px;
    margin-left: 50px;


}

.donate-plan-section {
    display: flex;
    margin-left: 50px;
    margin-bottom: 50px;
}

.donate-plan-section h2 {
    margin-left: 20px;
    margin-bottom: 12px;
}

.donate-plan-section p {
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: rgb(45, 43, 43);
}

/* story-section */
.story-div {
    display: flex;


}

.story-div img {
    border-radius: 50%;
    width: 300px;
    margin-top: -50px;
    margin-left: 60px;
}

.story-div {

    box-shadow: 0px 10px 20px gray;
    height: 500px;
    width: 1160px;
    margin-left: 55px;
    border-radius: 15px;

}

.story-section h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 70px;
    margin-top: 100px;
    margin-left: 50px;
    color: rgb(82, 46, 82);
}

.story-description h2 {
    font-size: 25px;
    font-weight: 700;
    color: rgb(82, 46, 82);
    margin-left: 60px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.story-description p {
    margin-left: 60px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgb(45, 43, 43);

}

.story-link {
    margin-left: 60px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    color: orangered;
}

.story-link:hover {
    color: blue;
}

.story-section {
    margin-bottom: 110px;
}

/* get update section */
.update-description {
    text-align: center;
}

.update-description h1 {
    font-size: 40px;
    margin-bottom: 12px;
}

.update-description p {
    font-size: 18px;
    color: #6c6a6a;
    font-weight: 700;
}

.form {
    margin-top: 50px;
    height: 200px;
    width: 780px;
    background: #FFF4D6;
    text-align: center;
    margin-bottom: 130px;
    margin-left: 250px;
}

.form input {

    height: 38px;
    width: 280px;
    background: #D9D9D9;
    border-color: transparent;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    font-weight: bold;
    padding-left: 12px;
    margin-top: 10px;
}


.form button {
    margin-top: 80px;
    height: 41px;
    width: 120px;
    background: rgb(231, 78, 78);
    border-color: transparent;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: -5px;
    color: #e8e7e7;
    font-weight: bold;

}

/* footer section */
.footer-section {
    background: #0B0D17;
    height: 150px;
    text-align: center;
}

.footer-section h2 {
    color: #FF5959;
    padding-top: 35px;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin-bottom: 20px;
}

.footer-section small {
    color: white;

}